<div class="jumbotron text center">
  <h1>Welcome to FYi StartUP</h1>
  <h3>A membership site where entrepeneurs can meet developers, designers, consultants and investers.</h3>
</div>
<div class="row">
  <% if user_signed_in? %>
    <div class="col-md-6">
     <div class="well">
      <h2 class="text-center">Your Profile</h2>
      <% if current_user.profile %>
        <%= link_to "Edit your profile", "#", class: 'btn btn-default btn-lg btn-block' %>
        <%= link_to "View your profile ", user_path(current_user), class: 'btn btn-default btn-lg btn-block' %>
      <% else %>
        <p>Create your profile so that you can share your information with the StartUp Community.</p>
        <%= link_to "Create your profile!", new_user_profile_path(current_user), class: 'btn btn-default btn-lg btn-block' %>
      <% end %>
     </div>
    </div>
   <div class="col-md-6">
     <div class="well"> 
       <h2 class="text-center">The Community</h2>
       <p>Visit the StratUp community to meet developers, entrepeneurs and investors!</p>
       <%= link_to "Visit the Community", "#", class: 'btn btn-default btn-lg btn-block' %>
     </div>
   </div>
  <% else %>
   <div class="col-md-6">
      <div class="well">
       <h2 class="text-center">Basic Membership</h2>
       <h4>Sign up for FREE and get started with basic access to the community with no obligation.</h4>
       <br/>
       <%= link_to "Sign up Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>     
       </div>
   </div>
   <div class="col-md-6">
      <div class="well">
       <h2 class="text-center">Pro Membership</h2>
       <h4>Sign up for the Pro account for only $10/month and get full access to the many experts in the community to kick start your business! Stop at anytime.</h4>
       <%= link_to "Sign up PRO", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
       </div>
   </div>
  <% end %>
</div>