<p>
  <label class="subtotal">
    <span>Subtotal: <%= number_to_currency(@amount * 0.01) %></span>
  </label>
</p>
<% if @coupon.present? %>
  <p>
    <label class="coupon">
      <span>Coupon: <%= @coupon.code %></span>
    </label>
  </p>
  <p>
    <label class="savings">
      <span>Savings: <%= number_to_currency(@discount_amount * 0.01) %></span>
    </label>
  </p>
  <p>
    <label class="discount">
      <span>Discount: <%= @coupon.discount_human_percentage %></span>
    </label>
  </p>
<% end %>
<p>
  <label class="total">
    <span>Total: <%= number_to_currency(@charge.amount * 0.01) %></span>
  </label>
</p>